@import "./app/partials/utils/variables";
@import "./app/partials/utils/mixins";
html,
body {
    height: $full;
}

body {
    margin: 0;
    font-family: $principal-family;
    color: $principal-black-hexa;
    font-size: $normal-text-size;
    overflow-x: hidden;
}