<!-- TRANSPARENT NAVABAR TOP -->
<nav class="navbar navbar-expand-lg" id="navbar-top">
    <div class="container">
        <div class="d-flex">
            <img src="../../assets/favicon/Logo2.png" alt="">
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/home"> HOME </a>
                <a class="nav-link" routerLink="/latest-work"> LATEST WORK </a>
                <a class="nav-link services-drop">
                  SERVICES
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                  <div class="services-dropdown">
                      <p routerLink="/service-EMC"> EMC </p>
                      <p routerLink="/service-RF"> RF </p>
                      <p routerLink="/service-Energy-Efficiency"> Energy Efficiency </p>
                      <p routerLink="/service-Support"> Support </p>
                      <p routerLink="/service-Equipment-and-Technologies"> Equipement & <br> Technologies </p>
                  </div>
                </a>
                <a class="nav-link" routerLink="/about-us"> ABOUT US </a>
                <a class="nav-link" routerLink="/news"> NEWS </a>
            </div>
        </div>
        <a class="navbar-brand">
            <p class="number"> ( +225 ) 070 429 4197 </p>
            <p class="menu-icon"> Menu </p>
            <p class="menu-icon menu-icon-close"> Close </p>
        </a>
    </div>
</nav>


<!-- MOBILE MENU -->
<div class="mobile-menu-bloc">
    <div class="row">
        <div class="col-12 hide-mobile-dropdown">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg> Back to Main Menu
            </p>
        </div>
        <div class="col-12 mobile-drop">
            <h2 routerLink="/home">HOME</h2>
            <h2 routerLink="/latest-work">LATEST WORK</h2>
            <h2 class="services-mobile">SERVICES
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
            </h2>
            <h2 routerLink="/about-us">ABOUT US</h2>
            <h2 routerLink="/news">NEWS</h2>
        </div>
        <div class="col-12 mobile-dropdown">
            <h4 routerLink="/service-EMC">EMC</h4>
            <h4 routerLink="/service-RF">RF</h4>
            <h4 routerLink="/service-Energy-Efficiency">Energy Efficiency</h4>
            <h4 routerLink="/service-Support">Support</h4>
            <h4 routerLink="/service-Equipment-and-Technologies">Equipement & Technologies</h4>
        </div>
    </div>
</div>



<!-- PRINCIPAL CONTAINER -->
<div class="container container-bloc">
    <div class="row">
        <div class="bloc bloc-one">
            <div>
                <h1> Want To Approve Your Equipment And Access The Global Market ? </h1>
            </div>
            <div>
                <p>
                    We are a qualified and dedicated team assisting you through the Approval process. We have been helping Manufacturers, Accreditation Bodies, Laboratories, and worldwide Vendors around the world to obtain regulatory approvals for their telecommunication
                    devices in Africa, America, Middle East, and Asia.
                </p>
            </div>
        </div>

        <div class="bloc-arrow">
            <p class="p">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
            </p>
        </div>

        <div class="bloc bloc--two">
            <div>
                <h1> Latest Work </h1>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 certificat-div">
                    <div class="row">
                        <div class="certificat-div-one certificat" title="Mozambique">
                            <img src="../../assets/images/Mozambique.png" class="" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 certificat-name">
                            <h3> Mozambique </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 certificat-div">
                    <div class="row">
                        <div class="certificat-div-two certificat" title="Botswana">
                            <img src="../../assets/images/Botswana.png" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 certificat-name">
                            <h3> Botswana </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 certificat-div">
                    <div class="row">
                        <div class="certificat-div-three certificat" title="Djibouti">
                            <img src="../../assets/images/Djibouti.png" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 certificat-name">
                            <h3> Djibouti </h3>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 certificat-div certificat-div--down">
                    <div class="row">
                        <div class="certificat-div-four certificat" title="Gabon">
                            <img src="../../assets/images/Gabon.png" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 certificat-name">
                            <h3> Gabon </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 certificat-div certificat-div--down">
                    <div class="row">
                        <div class="certificat-div-five certificat" title="Mali">
                            <img src="../../assets/images/Mali.png" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 certificat-name">
                            <h3> Mali </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 certificat-div certificat-div--down">
                    <div class="row">
                        <div class="certificat-div-six certificat" title="Togo">
                            <img src="../../assets/images/Togo.png" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 col-md-6 certificat-name">
                            <h3> Togo </h3>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 certificat-div certificat-div--down">
                    <div class="row">
                        <div class="certificat-div-seven certificat" title="Guinea-Bissau">
                            <img src="../../assets/images/Guinea-Bissau.png" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 certificat-name">
                            <h3> Guinea-Bissau </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 certificat-div certificat-div--down">
                    <div class="row">
                        <div class="certificat-div-eight certificat" title="Nigeria">
                            <img src="../../assets/images/Nigeria.png" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 certificat-name">
                            <h3> Nigeria </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 certificat-div certificat-div--down">
                    <div class="row">
                        <div class="certificat-div-nine certificat" title="Seychelles">
                            <img src="../../assets/images/Seychelles.png" height="100%" width="100%" alt="image">
                        </div>
                        <div class="col-lg-4 certificat-name">
                            <h3> Seychelles </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bloc-arrow">
            <p class="p">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
            </p>
        </div>

        <div class="bloc bloc--three">
            <h1> The Type Approval Services that surpass the competition ? </h1>
            <div class="row">
                <div class="col-lg-6 approval-service">
                    <div>
                        <h2> Quick process Time </h2>
                        <p>
                            We offer fastest service thanks to our large network of partners and local agents dedicated and client oriented. This team across the world are the best resource you need to achieve your goal. Having a long chain of partners may sometimes cause delay
                            in the process. To avoid such delay, we ensure most of the time a direct communication within each Regulatory Authority.
                        </p>
                        <p class="p"> <a routerLink="/quick-process-time" target="_blank"> view more </a> </p>
                    </div>
                    <div>
                        <img src="../../assets/images/processing.jpeg" width="100%" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 approval-service">
                    <div>
                        <h2> Good Customers relationship </h2>
                        <p>
                            Client satisfaction is one of our goals and we are committed to listen and understand to customers in order to give them what they want. We offer a proactive collaboration to client which is one of their favorite needs. For practicing honesty and managing
                            expectations in a good way our clients are always satisfied and willing to give positive feedback.
                        </p>
                        <p class="p"> <a routerLink="/good-customers-relationship" target="_blank"> view more </a> </p>
                    </div>
                    <div>
                        <img src="../../assets/images/customers.jpeg" width="100%" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 approval-service">
                    <div>
                        <h2> Competitive costs </h2>
                        <p>
                            Price is related to the services we are offering to our customers. You are never overpaying or underpaying with us. By working directly with regulatory authorities and local partners, we offer the best prices and services on the market. With us, quality
                            of service is guarantee and more, you make your company save money by not paying any extra-costs.
                        </p>
                        <p class="p"> <a routerLink="/comptetitive-costs" target="_blank"> view more </a> </p>
                    </div>
                    <div>
                        <img src="../../assets/images/cost.jpeg" width="100%" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 approval-service">
                    <div>
                        <h2> Flexibility in execution Your Reliable information Support </h2>
                        <p>
                            As your full-service Approval partner, you'll never have to worry about what is happened in the countries or Regulatory Authorities. We ensure you get informed on time for any change which may impact the approval process.
                        </p>
                        <p class="p"> <a routerLink="/flexibility-in-execution" target="_blank"> view more </a> </p>
                    </div>
                    <div>
                        <img src="../../assets/images/Flexibility.jpeg" width="100%" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="letsTalk">
    <p> Want to approve your equipment and access the global market &nbsp; ? </p>
    <h1> Let’s Talk </h1>
</div>


<div class="copyright">
    <div class="row">
        <div class="col-lg-5 col-md-6 blc">
            <div class="row">
                <h1> Abidjan </h1>
                <p>
                    Akeikoi- Djibi <br> Abidjan, Cote d’Ivoire <br> (225) 0704294197 <br>
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 blc right">
            <div class="row">
                <p>
                    World approval certification services Wac-services is your preferred partner to approve your equipment and access the global market. <br> <br> Copyright 2022. Wac-services All rights reserved. Terms and conditions Privacy Policy.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="couverture-page">
    <img src="../../assets/images/Mozambique.png" alt="certificat" class="certificate mozambique">
    <img src="../../assets/images/Botswana.png" alt="certificat" class="certificate botswana">
    <img src="../../assets/images/Djibouti.png" alt="certificat" class="certificate djibouti">
    <img src="../../assets/images/Gabon.png" alt="certificat" class="certificate gabon">
    <img src="../../assets/images/Mali.png" alt="certificat" class="certificate mali">
    <img src="../../assets/images/Togo.png" alt="certificat" class="certificate togo">
    <img src="../../assets/images/Guinea-Bissau.png" alt="certificat" class="certificate guinea-bissau">
    <img src="../../assets/images/Nigeria.png" alt="certificat" class="certificate nigeria">
    <img src="../../assets/images/Seychelles.png" alt="certificat" class="certificate seychelles">
</div>
