<!-- TRANSPARENT NAVABAR TOP -->
<nav class="navbar navbar-expand-lg" id="navbar-top">
    <div class="container">
        <div class="d-flex">
            <img src="../../assets/favicon/Logo2.png" alt="">
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="a nav-link" routerLink="/home"> HOME </a>
                <a class="a nav-link" routerLink="/latest-work"> LATEST WORK </a>
                <a class="nav-link services-drop">
                  SERVICES
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                  <div class="services-dropdown">
                      <p routerLink="/service-EMC"> EMC </p>
                      <p routerLink="/service-RF"> RF </p>
                      <p routerLink="/service-Energy-Efficiency"> Energy Efficiency </p>
                      <p routerLink="/service-Support"> Support </p>
                      <p routerLink="/service-Equipment-and-Technologies"> Equipement & <br> Technologies </p>
                  </div>
                </a>
                <a class="a nav-link" routerLink="/about-us"> ABOUT US </a>
                <a class="a nav-link" routerLink="/news"> NEWS </a>
            </div>
        </div>
        <a class="navbar-brand">
            <p class="number"> <button routerLink="/get-in-touch"> GET IN TOUCH </button> </p>
            <p class="menu-icon"> Menu </p>
            <p class="menu-icon menu-icon-close"> Close </p>
        </a>
    </div>
</nav>


<!-- MOBILE MENU -->
<div class="mobile-menu-bloc">
    <div class="row">
        <div class="col-12 hide-mobile-dropdown">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg> Back to Main Menu
            </p>
        </div>
        <div class="col-12 mobile-drop">
            <h2 routerLink="/home">HOME</h2>
            <h2 routerLink="/latest-work">LATEST WORK</h2>
            <h2 class="services-mobile">SERVICES
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
            </h2>
            <h2 routerLink="/about-us">ABOUT US</h2>
            <h2 routerLink="/news">NEWS</h2>
        </div>
        <div class="col-12 mobile-dropdown">
            <h4 routerLink="/service-EMC">EMC</h4>
            <h4 routerLink="/service-RF">RF</h4>
            <h4 routerLink="/service-Energy-Efficiency">Energy Efficiency</h4>
            <h4 routerLink="/service-Support">Support</h4>
            <h4 routerLink="/service-Equipment-and-Technologies">Equipement & Technologies</h4>
        </div>
    </div>
</div>


<!-- PRINCIPAL CONTAINER -->
<div class="container container-bloc">
    <div class="row">
        <div class="bloc bloc-one">
            <div>
                <h1> Technical Support </h1>
            </div>
            <div>
                <p>
                    before doing anything, our technical team will assist you to meet regulations that are always changing. It is our job to help you understand the requirements (allowed frequency band and power limits of equipment) to avoid any rejection.
                </p>
            </div>
            <div>
                <h2> Full Handling </h2>
            </div>
            <div>
                <p>
                    Customer-oriented and fully functional regulatory and approvals database regarding to our dynamic and close relationships with in-country local agencies such as local tests laboratories, approval bodies, authorities, and local engineers among others,
                    helping us to speed up the certification process, different products, and countries, including national requirements, policies, and technical regulations. <br><br> • Adapted solutions – Based on research of regulatory
                    requirements, certification requisites and schemes for your product within your target country lists. <br><br> • Interface with all regulators – Interface with governmental organizations and certification bodies on behalf of clients
                    lacking local representation. WAC Services often works with manufacturers where their products may not fit into the defined technical regulations. We take the concerns to the regulatory body and explain the case for approval based
                    on the lack of standards. Our amazing relationships with the key regulators allow us the ability to discuss problems and help get the outcomes the manufacturer is looking for <br><br> • Testing matter – WAC Services coordinates all
                    product testing for a single or family of products in accordance with required test standards for each country that requires testing within their country <br><br> • Getting competitive edge– WAC Services expertise and knowledge, we
                    can provide research to support the best decision-making process for our clients.
                </p>
            </div>
        </div>
        <div class="bloc bloc-two">
            <div class="row">
                <div class="col-lg-6">
                    <div class="support1"></div>
                </div>
                <div class="col-lg-6">
                    <div class="support2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="letsTalk">
    <p> Want to approve your equipment and access the global market &nbsp; ? </p>
    <h1> Let’s Talk </h1>
</div>

<div class="copyright">
    <div class="row">
        <div class="col-lg-5 col-md-6 blc">
            <div class="row">
                <h1> Abidjan </h1>
                <p>
                    Akeikoi- Djibi <br> Abidjan, Cote d’Ivoire <br> (225) 0704294197 <br>
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 blc right">
            <div class="row">
                <p>
                    World approval certification services Wac-services is your preferred partner to approve your equipment and access the global market. <br> <br> Copyright 2022. Wac-services All rights reserved. Terms and conditions Privacy Policy.
                </p>
            </div>
        </div>
    </div>
</div>
